.timer__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer__buttons {
    display: flex;
    gap: 20px;
}

.timer__buttons Button {
    margin: 0 10px 0 10px;
}